@import'reset.css';

*::before::after{
    box-sizing: border-box;
}

body{
    background-color: gray;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

article{
    min-height: 100vh;
}

.menu_nav ul{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.personal{
    background-color: black;
    border: 4px solid aqua;

} 
/* header{
    display: flex;
    justify-content: space-between;
} */

.cabecera{
    background-color: black;
    border: 4px solid aqua;
    display: flex;
    padding: 0 .5rem .5rem;
    flex-direction: column;
    height: 48px;
    transition: height .5s;
    overflow: hidden;
}

#menu{
    display: none;
}

#menu:checked+.cabecera{
    height: 80px;
}

.cabecera h1{
    color: aliceblue;
    margin: .5rem;
}

.boton_enlace{
    color: aqua;
    /* padding: 2px;
    border-radius: 2px;
    border: 4px solid white; */
}

.posicion{
    border:4px solid rgb(54, 52, 52);
    background-color: white;
    cursor: pointer;
    right: 1rem;
    top: .8rem;
    font-size: 2rem;
    position: absolute;
}

.foto-cv{
    font-size: 0;
    text-align: center;
    background-color: black;
    margin: .1rem;
    border: 4px solid aqua;
}



.personal .foto-perfil{
    margin: .5rem;
    border-radius: 50%;
    overflow: hidden;
}

.foto-perfil img{
    width: 100%;
}

figcaption{
    font-size: .9rem;
    text-align: center;
    color: rgb(112, 107, 107);
    position: relative;
    left: 14vh;
    top: 0;
    width: 100px;
    height: 80px;
    box-sizing: border-box;
    transition: left 4s,top 8s ;
}

.foto-perfil:hover > figcaption{
    top: 40px;
    font-size: 20px;
    color: aqua;
    animation: mov 6s;
}

p{
    color: rgb(204, 211, 218);
    padding: 10px;
}

.logos{
    font-size: 0;
    text-align: center;
    background-color: black;
    margin: .1rem;
    border: 4px solid aqua;
}

.logos img{
    display: inline-block;
    font-size: inherit;
    padding: 20px;
    width: 30vh;
} 

@media(max-width: 479px) {

    .foto-perfil:hover > figcaption{
        top: 40px;
        left: 28vh;
        right: 40vh;
    }
}

@media(min-width: 480px) {
    .personal{
        display: flex;
    }
    .personal p{
        width: 50%;
    }
    .cabecera{
        display: flexbox;
    }
}

@media(min-width: 768px)and (width: 989px){
    .personal{
        display: flexbox;
        width: min-content;
    }
}

@media(min-width: 990px){

    .foto-perfil{
        width: 450px;
    }

    figcaption{
        left: 12vh;
    }

    .foto-perfil:hover > figcaption{
        top: 40px;
        left: 28vh;
        right: 40vh;
        font-size: 20px;
    }
    
}

